a:hover {
    cursor: pointer;
}

h1 {
    font-size: 60px;
}

.data {
    flex-direction: row;
}

.data h5 {
    font-size: 30px;
}

a:disabled {
    background: red;
}

#gallery {
    max-width: 100%;
    border: thin solid black ;
    background-color: royalblue;
    animation: fader 10s cubic-bezier(1,0,0,1) infinite;
}

@keyframes fader {
    0% {background: url('C:/Users/Usuario/Projects/covidApp/src/assets/img/885072.jpg')}
    50% {background: url('C:/Users/Usuario/Projects/covidApp/src/assets/img/999121.jpg')}
    100% {background: url('C:/Users/Usuario/Projects/covidApp/src/assets/img/885072.jpg')}
}

@media only screen and (max-width: 800px) {
    .data {
        flex-direction: column;
    }
}
